---
// Component Imports
import Layout from "../../../layouts/MainLayout.astro";
const content = {
	title: "Suprito",
	description: "Portfolio website...",
	image: {
		src: "/assets/og/default_image.jpg?v=1",
		alt:
			"Myself Sukhpreet Singh I have nothing to say about myself, " +
			"But I would like to say that I am grateful for all the youtube videos and free resources like docs done very well online which help all of us to bring a change in society, really grateful for all of online educational stuff.",
	},
};

/*
	-> Linear Data Structures
		Linked List 
			Singly Linked List
			Doubly Linked List
			Circular Linked List
		Stack	LIFO (last in, first out)
		Queue	FIFO (first in, first out) 
*/
---

<Layout {content} canonicalURL={Astro.request.canonicalURL}>
	<section class="bg-[#030E1C] w-full flex" style="">
		<div
			class="h-full min-h-screen my-10 sticky inset-0 w-56 flex-shrink-0 py-24 pr-6 flex flex-col"
		>
			<div
				class="bg-sky-500/5 rounded-r-lg py-6 px-4 flex flex-col gap-y-3 items-center"
			>
				<h1 class="text-white text-xl">Astro + Alpinejs</h1>
				<ul class="">
					<li class="text-white">Uses of Javascript</li>
					<li class="text-white">Uses of Javascript</li>
					<li class="text-white">Uses of Javascript</li>
				</ul>
			</div>
		</div>
		<div class="min-h-screen w-full">
			laboriosam repudiandae inventore tenetur temporibus enim fugit. Nesciunt
			delectus reiciendis in.
		</div>
		<div
			class="h-screen sticky inset-0 w-[216px] flex-shrink-0 p-4 flex flex-col items-center justify-center "
		>
			<div
				id="container-onPage-content"
				class="bg-[#00112B] w-full h-64 rounded-xl p-4 flex flex-col gap-y-4"
			>
				<h1 class="text-white text-lg leading-3">On this page</h1>
				<ul class="flex flex-col gap-y-1">
					<li class="w-full rounded-lg">
						<a href="" class="text-white/70 line-clamp-1">
							Uses of javascript
						</a>
					</li>
					<li class="w-full rounded-lg">
						<a href="" class="text-white/70 line-clamp-1"> Web application </a>
					</li>
					<li class="w-full rounded-lg">
						<a href="" class="text-white/70 line-clamp-1">
							Desktop appliaction
						</a>
					</li>
					<li class="w-full rounded-lg">
						<a href="" class="text-white/70 line-clamp-1">
							command line appliaction
						</a>
					</li>
				</ul>
			</div>
			<div id="social-media-content" class="w-full h-32 rounded-xl pt-8 px-2">
				<ul class="flex flex-col gap-3">
					<li class="bg-blue-500 w-full px-2 rounded-lg">
						<a href="" class="text-white"> Share on twitter </a>
					</li>
					<li class="bg-slate-500 my-auto w-full px-2 rounded-lg">
						<a href="" class="text-white"> Share on twitter </a>
					</li>
					<li class="bg-slate-300 my-auto w-full px-2 rounded-lg">
						<a href="" class="text-slate-700"> Share on twitter </a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</Layout>
