---
import Arrow from "./arrow.astro";
---

<li
	class="
    card
    sm:pl-14
    pl-6
    inline-flex 
    flex-wrap
    gap-x-2 
    transition-transform-colors 
    duration-700
    leveltwo
    "
>
	<Arrow /> <slot />
</li>
