---
import Arrow from './arrow.astro';
---

<li
	class="
    card
    pl-14
    inline-flex 
    flex-wrap
    gap-x-2 
    transition-transform-colors 
    duration-700
    leveltwo
    "
>
	<Arrow /> <slot />
</li>
