---
const props = Astro.props;
const id = props.id ?? null;
---

{id !== null ? (
	<div class={`flex flex-col h-full w-max mt-8 px-2 rounded-lg ${props.class !== undefined ? props.class : ''}`} {id} >
		<slot />
	</div> ) : (
	<div class={`flex flex-col h-full w-max mt-8 px-2 rounded-lg ${props.class !== undefined ? props.class : ''}`}>
		<slot />
	</div>
	)
}
