---
const props = Astro.props;
const id = props.id ?? null;
---

{id !== null ? (
	<p class={`text-lg font-bold ${props.class !== undefined ? props.class : 'dark:text-slate-300 text-slate-600 ' }`} {id} >
		<slot />
	</p> ) : (
	<p class={`text-lg font-bold ${props.class !== undefined ? props.class : 'dark:text-slate-300 text-slate-600 ' }`}>
		<slot />
	</p>
	)
}
