---
// Component Imports
import Layout from "../layouts/MainLayout.astro";
import Profile from "@/components/Home/Profile.astro";
import Divider from "@/components/Home/divider.astro";
import Notes from "@/components/Home/notes.astro";
import Showcase from "@/components/Home/showcase/astroShow.astro";
// import SvelteVueShowcase from "@/components/Home/showcase/vuesvelte.astro"

// import Coursel from "@/components/utils/carousel/index.astro";

// const projects = Astro.fetchContent('./project/**/*.md');
// const featuredProject = projects[0];
const content = {
	title: "Suprito",
	description: "Portfolio website...",
	image: {
		src: "/assets/og/default_image.jpg?v=1",
		alt:
			"Myself Sukhpreet Singh I have nothing to say about myself, " +
			"But I would like to say that I am grateful for all the youtube videos and free resources like docs done very well online which help all of us to bring a change in society, really grateful for all of online educational stuff.",
	},
};
---

<Layout {content} canonicalURL={Astro.request.canonicalURL}>
	<section class="md:container xl:max-w-5xl">
		<Profile />
		<Divider />
		<Showcase />
		<!-- <SvelteVueShowcase/> -->
		<Notes />
	</section>
</Layout>
