---
// Component Imports
import Layout from "../layouts/MainLayout.astro";
import Profile from "@/components/Profile.astro";
// import Coursel from "@/components/utils/carousel/index.astro";

// const projects = Astro.fetchContent('./project/**/*.md');
// const featuredProject = projects[0];
---

<Layout canonicalURL={Astro.request.canonicalURL}>
	<section>
		<Profile />
	</section>
</Layout>
