---
// Component Imports
import Layout from "../layouts/MainLayout.astro";
import Card from "@/components/resume/index.astro";
const content = {
	title: "Resume",
	description: "Resume or CV",
	image: {
		src: "/assets/og/resume.jpg",
		alt:
			"Myself Sukhpreet Singh I have nothing to say about myself, " +
			"But I would like to say that I am grateful for all the youtube videos and free resources like docs done very well online which help all of us to bring a change in society, really grateful for all of online educational stuff.",
	},
};
---

<Layout {content} canonicalURL={Astro.request.canonicalURL}>
	<section class="">
		<Card />
	</section>
	<h1></h1>
</Layout>
