<div class="pt-56 w-full flex flex-col gap-y-6">
	<h1
		class=" pl-3 sm:pl-0 text-4xl text-cyan-600 dark:text-white shadow-light-underline dark:shadow-dark-underline dark:shadow-indigo-600/40 w-max"
	>
		Notes
	</h1>
	<main class="">
		<h1 class="text-xl text-white">Astro + Alpinejs Guide</h1>
	</main>
</div>
