<div class="flex flex-col gap-16 sm:pl-20 px-10 pt-6 pb-32 md:flex-row">
	<article
		id="background-circle"
		class="relative flex aspect-portrait items-center justify-center flex-shrink-0 rounded-full bg-lime-200 dark:bg-indigo-300
    h-full w-40 sm:w-52 md:w-60 lg:w-72"
	>
		<div
			id="photo"
			class="relative aspect-portrait 
				rounded-full 
      			bg-cover
      			bg-center
      			bg-[url('/profilePic.jpg')]
      			shadow-glow
      			shadow-lime-500
      			dark:shadow-indigo-500
      			w-32 sm:w-44 md:w-52 lg:w-64"
		></div>
	</article>
	<article
		class="relative max-w-xl text-xl 
		dark:selection:text-[#0099ff] 
		dark:selection:bg-[rgba(0,128,255,0.2)]
		selection:text-lime-400
		selection:bg-lime-500/10
		"
	>
		<h1
			class="mb-6 text-4xl font-black dark:text-white text-slate-800 font-sans"
		>
			Hi there, I'm
			<span x-annotate:underline.color.currentColor.duration.900.delay.1000
				>Sukhpreet</span
			>
			.
		</h1>
		<div class="mb-3 dark:text-white text-slate-600">
			A
			<p class="inline-block p-2 dark:text-white text-slate-600">
				<span
					class="inline-block"
					x-annotate:box.duration.900.delay.2000="hsl(190deg,50%,62%)"
					>self taught developer</span
				>
				,
			</p>
			who learnt UI Engineering skills,
			<br />
			during the lockdown, and experimenting with it.
		</div>
		<div class="mb-3 dark:text-white text-slate-600">
			Playing Basketball , writing code , and doing nothing
			<br />
			are some of my free time favorites .
		</div>
		<div class="mb-3 dark:text-white text-slate-600">
			I believe in
			<p class="inline-block p-2 dark:text-white text-slate-600">
				<span
					class="inline-block"
					x-annotate:highlight.duration.900.delay.2500="rgb(163 230 53 /0.2)"
				>
					vasudhaiva kutumbakam
				</span>
				,
			</p>
			<br />
			And I am ...
		</div>
		<div class="flex flex-wrap gap-4 mt-6 ">
			<a
				href="\adventure"
				x-ripple
				class="
					w-max flex items-center justify-center rounded-lg py-1 px-2.5 transition-colors 
					shadow-spread-lg
					dark:text-white dark:shadow-indigo-500/10 dark:bg-indigo-500/10 dark:hover:bg-indigo-500/5
					text-lime-500 shadow-green-200/10 bg-lime-100 hover:bg-lime-200
					focus:outline-none focus:ring-2 dark:focus:ring-white focus:ring-lime-800
				"
				style="text-shadow:0 0px 4px rgb(255 255 255 / 20%);"
			>
				My adventurous journey
			</a>
			<a
				href="\self"
				x-ripple
				class="
					w-max flex items-center justify-center rounded-lg py-1 px-2.5 transition-colors
					shadow-spread-lg 
					dark:text-indigo-400 dark:shadow-indigo-500/10 dark:bg-indigo-500/10 dark:hover:bg-indigo-500/5
					text-white shadow-lime-500/20 bg-lime-500/40 hover:bg-lime-500/80
					focus:outline-none focus:ring-2 dark:focus:ring-white focus:ring-lime-800
				"
				style="text-shadow:0 1px 3px rgb(129 140 248 / 50% ), 0 1px 2px rgb(129 140 248 / 30% );"
			>
				Know more about me
			</a>
		</div>
		<div class="h-4"></div>
		<!-- <button class="bigBtn flex font-cascadia">Get in touch with me</button> -->
		<!-- <button class="bigBtn flex font-cascadia">Know more about me</button> -->
	</article>
</div>
