---
const { skip, scrollbar } = Astro.props;
---

<section class="flex items-center justify-center">
	<div
		x-data={`{
				skip:${skip ?? 1},
		        next() {
					this.to( ( current, offset ) => current + (this.skip*offset) )
		        },
                prev() {
					this.to( ( current, offset ) => current - (this.skip*offset) )
                },
				to(strategy){
					let slider = this.$refs.slider;
					let current = slider.scrollLeft;
					let offset = slider.firstElementChild.getBoundingClientRect().width;
					slider.scrollTo({left: strategy(current, offset) ,behavior:'smooth'})
				}
		    }`}
		class="flex flex-col w-full"
	>
		<div
			tabindex="0"
			role="region"
			aria-labelledby="carousel-label"
			class="flex items-center gap-x-2"
		>
			<h2 id="carousel-label" class="sr-only" hidden>Carousel</h2>
			<button x-on:click="prev" class="rounded-full">
				<span aria-hidden="true">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-8 w-8 text-white"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M15 19l-7-7 7-7"></path>
					</svg>
				</span>
				<span class="sr-only" hidden>skip to previous slide</span>
			</button>
			<span id="carousel-content-label" class="sr-only" hidden>Carousel</span>

			<ul
				tabindex="0"
				x-ref="slider"
				role="listbox"
				aria-labelledby="carousel-content-label"
				class={`flex container overflow-x-scroll snap-x snap-mandatory ${
					scrollbar === false ? "no-scrollbar" : ""
				}`}
				x-inview={`{
						selector:".focusAbleItem",
						enterAction:(e)=>{e.removeAttribute('tabindex')},
						leaveAction:(e)=>{e.setAttribute('tabindex','-1')}
					}`}
			>
				<slot />
			</ul>
			<button x-on:click="next" class="rounded-full">
				<span aria-hidden="true">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-8 w-8 text-white"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M9 5l7 7-7 7"></path>
					</svg>
				</span>
				<span class="sr-only">Skip to next slide</span>
			</button>
		</div>
	</div>
</section>

<style>
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE / Edge */
		scrollbar-width: none; /* Firefox */
	}
</style>
