<div class="flex flex-col gap-16 p-10 transition-colors md:flex-row">
	<article
		id="background-circle"
		class="relative flex aspect-portrait items-center justify-center flex-shrink-0 rounded-full bg-sky-600 dark:bg-indigo-600
    h-full w-40 sm:w-52 md:w-60 lg:w-72"
	>
		<div
			id="photo"
			class="relative aspect-portrait rounded-full 
      bg-cover
      bg-center
      bg-[url('/profilePic.jpg')]
      shadow-glow
      shadow-sky-500
      dark:shadow-indigo-500
      w-32 sm:w-44 md:w-52 lg:w-64"
		></div>
	</article>
	<article class="relative max-w-xl text-xl selection:text-[#0099ff] selection:bg-[hsla(210,100%,50%,0.2)]">
		<h1 class="mb-6 text-4xl font-black dark:text-white text-slate-800">
			Hi there, I'm
			<span x-annotate:underline.color.white.duration.900.delay.1000 id="annotate-underline">Sukhpreet</span>
			.
		</h1>
		<div class="mb-3 dark:text-white text-slate-600">
			A
			<p class="inline dark:text-white text-slate-600"><span id="annotate-highlight" data-color="rgb(59 130 246 / 0.1)">self&nbsp;taught&nbsp;developer</span>,</p>
			who learnt UI Engineering skills,
			<br />
			during the lockdown, and experimenting with it.
		</div>
		<div class="mb-3 dark:text-white text-slate-600">
			<p class="inline dark:text-white text-slate-600"><span id="annotate-highlight" data-color="rgb(99 102 241 / 0.2)"> Playing&nbsp;Basketball </span>,</p>
			<p class="inline dark:text-white text-slate-600"><span id="annotate-highlight" data-color="rgb(139 92 246 / 0.2)"> writing&nbsp;code </span>,</p>
			and
			<p class="inline dark:text-white text-slate-600">
				<span uid="yoga" id="annotate-highlight" data-color="rgb(168 85 247 / 0.2)"> doing&nbsp;nothing </span>
			</p>
			<br />
			are some of my
			<p class="inline dark:text-white text-slate-600"><span uid="freeTime" id="annotate-highlight" data-color="rgb(236 72 153 / 0.2)"> free&nbsp;time&nbsp;favorites </span>.</p>
		</div>
		<div class="mb-3 dark:text-white text-slate-600">
			I believe in
			<p class="inline dark:text-white text-slate-600">
				<span uid="vasudhaivaKutumbakam" id="annotate-highlight" data-color="rgb(244 63 94 / 0.2)"> vasudhaiva kutumbakam </span>,
			</p>
			<br />
			And I am ...
		</div>
		<button class="bigBtn flex font-cascadia">My adventure of learning</button>
		<button class="bigBtn flex font-cascadia">Take a look at sitemap</button>
		<button class="bigBtn flex font-cascadia">Get in touch with me</button>
		<button class="bigBtn flex font-cascadia">Know more about me</button>
	</article>
</div>
