<div class="flex flex-col gap-16 px-10 py-6 md:flex-row">
	<article
		id="background-circle"
		class="relative flex aspect-portrait items-center justify-center flex-shrink-0 rounded-full bg-lime-200 dark:bg-indigo-300
    h-full w-40 sm:w-52 md:w-60 lg:w-72"
	>
		<div
			id="photo"
			class="relative aspect-portrait 
				rounded-full 
      			bg-cover
      			bg-center
      			bg-[url('/profilePic.jpg')]
      			shadow-glow
      			shadow-lime-500
      			dark:shadow-indigo-500
      			w-32 sm:w-44 md:w-52 lg:w-64"
		></div>
	</article>
	<article
		class="relative max-w-xl text-xl 
		dark:selection:text-[#0099ff] 
		dark:selection:bg-[rgba(0,128,255,0.2)]
		selection:text-lime-400
		selection:bg-lime-500/10
		"
	>
		<h1 class="mb-6 text-4xl font-black dark:text-white text-slate-800">
			Hi there, I'm
			<span x-annotate:underline.color.currentColor.duration.900.delay.1000
				>Sukhpreet</span
			>
			.
		</h1>
		<div class="mb-3 dark:text-white text-slate-600">
			A
			<p class="inline-block p-2 dark:text-white text-slate-600">
				<span
					class="inline-block"
					x-annotate:box.duration.900.delay.2000="hsl(190deg,50%,62%)"
					>self taught developer</span
				>
				,
			</p>
			who learnt UI Engineering skills,
			<br />
			during the lockdown, and experimenting with it.
		</div>
		<div class="mb-3 dark:text-white text-slate-600">
			Playing Basketball , writing code , and doing nothing
			<br />
			are some of my free time favorites .
		</div>
		<div class="mb-3 dark:text-white text-slate-600">
			I believe in
			<p class="inline-block p-2 dark:text-white text-slate-600">
				<span
					class="inline-block"
					x-annotate:highlight.duration.900.delay.2500="rgb(163 230 53 /0.2)"
				>
					vasudhaiva kutumbakam
				</span>
				,
			</p>
			<br />
			And I am ...
		</div>
		<a href="\adventure" class="w-max bigBtn mt-6 font-cascadia">
			My adventure of learning
		</a>
		<div class="h-4"></div>
		<a href="\icons" x-ripple class="w-max bigBtn font-cascadia">
			Take a look at Icons
		</a>
		<!-- <button class="bigBtn flex font-cascadia">Get in touch with me</button> -->
		<!-- <button class="bigBtn flex font-cascadia">Know more about me</button> -->
	</article>
</div>
