---
import Head from "@/components/head/Head.astro";
import Nav from "@/components/Header/Nav.astro";
import Footer from "@/components/footer.astro";
import Model from "@/components/utils/model/index.astro";

const { content, canonicalURL } = Astro.props;

const defaultContent = {
	title: "Suprito",
	description: "Portfolio website...",
};
---

<html lang="en">
	<head>
		<Head content={content ?? defaultContent} {canonicalURL} />
	</head>
	<body class="bg-white dark:bg-slate-1000">
		<section
			x-data={`{
				isOpen: false ,
				isNavOpen: false ,
				scrollPos: 0,
				tweet: 'no, no do not follow me',
				github: 'checkout my other project in a clean space'
			}`}
			class="
				flex 
				flex-col 
				pt-28 
				gap-y-6 
				items-center 
				w-full 
				min-h-screen 
				transition-colors 
				duration-500 
				sm:gap-y-10 md:gap-y-11 lg:gap-y-12 
				bg-white 
				dark:bg-slate-1000
			"
		>
			<Nav />
			<slot />
			<Footer />
			<Model />
		</section>
		<script>
			const DurOfContainerToAppear = 500;
			const itsDur = 50;
			const itsDelay = 50;

			const navDialogContainer = document.getElementById(
				"nav-dialog-container"
			);

			const navDialogContainerAle = navDialogContainer.animate(
				[
					{
						transform: `translate${
							window.innerWidth < 624 ? "X" : "Y"
						}(-120%) scale(0.9)`,
						opacity: 0,
					},
					{
						transform: "translate(0px) scale(1)",
						opacity: 1,
					},
				],
				{
					duration: DurOfContainerToAppear,
					fill: "both",
					easing: "cubic-bezier( 0.23, 0.4, 0.32,1.33)",
				}
			);

			let navItems = {};

			let navItemsEnterAle = {};

			document.querySelectorAll(".NavItem").forEach((element, i) => {
				navItems[i] = element;
				navItemsEnterAle[i] = element.animate(
					{
						transform: ["translateY(-10%)", "translateY(0%)"],
						opacity: ["0", "1"],
					},
					{
						duration: itsDur * (i + 1),
						delay: itsDelay * (i + 1),
						endDelay: 5 * (i + 1),
						fill: "both",
						easing: "cubic-bezier(.2,.8,.4,1)",
					}
				);
			});
		</script>
		<slot name="script" />
	</body>
</html>
