---
// import MainHead from '../components/MainHead.astro';
import Button from "../components/utils/Button.astro";
import Layout from "./MainLayout.astro";

const { content } = Astro.props;
---

<Layout
	content={{
		title: content.title,
		description: content.description,
	}}
	canonicalURL={Astro.request.canonicalURL}
>
	<main
		class="
		prose max-w-4xl
		prose-xl
		font-cascadia
		prose-a:underline
		prose-a:underline-offset-4
		prose-a:italic
		prose-a:font-black
		dark:prose-invert
	"
	>
		<slot />
	</main>
</Layout>
