<button
	x-ripple
	class="
	py-2 px-3 
	bg-cyan-500 
	text-white 
	text-sm 
	font-semibold 
	rounded-md 
	shadow-lg 
	shadow-cyan-500/50 
	focus:outline-none"
>
	Open Menu
</button>

<button
	class="
	bg-cyan-500 
	text-white 
	text-xl 
	leading-6
	font-semibold 
	rounded-md 
	shadow-lg 
	shadow-cyan-500/50 
	focus:outline-none"
>
	Open Menu
</button>
